a:link{
color:#660099;
}
a:visited{
color:#993366;
}
a:active{
color:#6666CC;
}
body{
color:#000066;
background-color:#FFFFCC;
}
h1{
color:#000066;
}
h2,marquee{
color:#000066;
}
h3{
color:#000066;
}
h4{
color:#000066;
}
h5{
color:#000066;
}
h6{
color:#000066;
}
LABEL,.MSTHEME-LABEL{
color:#000066;
}
FIELDSET{
border-color:#666699;
color:#000066;
}
LEGEND{
color:#000066;
}
SELECT{
border-color:#CCCCFF;
color:#000000;
}
TABLE{
table-border-color-light:#CCCCFF;
table-border-color-dark:#666699;
border-color:#666699;
color:#000066;
}
CAPTION{
color:#000066;
}
TH{
color:#000066;
}
HR{
color:#666699;
}
TD{
border-color:#666699;
}
