.mstheme{
nav-banner-image:url(sumbanna.gif);
separator-image:url(sumhorsa.gif);
list-image-1:url(sumbul1a.gif);
list-image-2:url(sumbul2a.gif);
list-image-3:url(sumbul3a.gif);
navbutton-horiz-normal:url(sumhbuda.gif);
navbutton-horiz-hovered:url(sumhbuha.gif);
navbutton-horiz-pushed:url(sumhbusa.gif);
navbutton-vert-normal:url(sumvbuda.gif);
navbutton-vert-pushed:url(sumvbusa.gif);
navbutton-vert-hovered:url(sumvbuha.gif);
navbutton-home-normal:url(sumhomda.gif);
navbutton-home-hovered:url(sumhomha.gif);
navbutton-next-normal:url(sumnexda.gif);
navbutton-next-hovered:url(sumnexha.gif);
navbutton-prev-normal:url(sumpreda.gif);
navbutton-prev-hovered:url(sumpreha.gif);
navbutton-up-normal:url(sumupda.gif);
navbutton-up-hovered:url(sumupha.gif);
}
UL{
list-style-image:url(sumbul1a.gif);
}
UL UL{
list-style-image:url(sumbul2a.gif);
}
UL UL UL{
list-style-image:url(sumbul3a.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#000066;
}
.mstheme-horiz-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#000066;
}
.mstheme-vert-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#000066;
}
.mstheme-navtxthome{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
.mstheme-navtxtup{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
.mstheme-navtxtprev{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
.mstheme-navtxtnext{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
