.mstheme{
separator-image:url(sumhorsd.gif);
list-image-1:url(sumbul1d.gif);
list-image-2:url(sumbul2d.gif);
list-image-3:url(sumbul3d.gif);
nav-banner-image:url(sumbannd.gif);
navbutton-horiz-normal:url(sumhbudd.gif);
navbutton-horiz-pushed:url(sumhbusd.gif);
navbutton-vert-normal:url(sumvbudd.gif);
navbutton-vert-pushed:url(sumvbusd.gif);
navbutton-home-normal:url(sumhombd.gif);
navbutton-next-normal:url(sumnexbd.gif);
navbutton-prev-normal:url(sumprebd.gif);
navbutton-up-normal:url(sumupbd.gif);
}
UL{
list-style-image:url(sumbul1d.gif);
}
UL UL{
list-style-image:url(sumbul2d.gif);
}
UL UL UL{
list-style-image:url(sumbul3d.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#000066;
}
.mstheme-horiz-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#000066;
}
.mstheme-vert-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#000066;
}
.mstheme-navtxthome{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
.mstheme-navtxtup{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
.mstheme-navtxtprev{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
.mstheme-navtxtnext{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000066;
}
