vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-S0NJVAL\\Banmao
vti_modifiedby:SR|DESKTOP-S0NJVAL\\Banmao
vti_timelastmodified:TR|02 Apr 2020 02:57:22 -0000
vti_timecreated:TR|02 Apr 2020 02:57:22 -0000
vti_cacheddtm:TX|02 Apr 2020 02:57:22 -0000
vti_filesize:IR|28181
vti_cachedlinkinfo:VX|S|sumglob.gif S|sumtextb.jpg S|sumbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sumipntg/sumglob.gif FSUS|_themes/sumipntg/sumtextb.jpg FSUS|_themes/sumipntg/sumbul2d.gif FSUS|_themes/sumipntg/toolgrad.gif FSUS|_themes/sumipntg/dot.gif FSUS|_themes/sumipntg/toolgrad.gif FSUS|_themes/sumipntg/theme.css FSUS|_themes/sumipntg/blank.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/sumipntg/theme.css
